@import "../common/miseapp_style.scss";
#comment {
    @extend .device_width;
    width: 300px;
    height: 100px;
    display: block;
}

#toManageWrap {
    @extend .device_width;
}


#form {
    @extend .device_width;
    margin-top: 1rem;
    #row1 {
        input#title {
            width: 100%;
            margin: 3% 0 3% 0;
        }
        #editableBody {
            @extend .lineHeight;
            padding: 1rem;
            width: 100%;
            height: 20rem;
            overflow-y: scroll;
            background-color: #ffffff;
            img {
                max-width: 50%;
                max-height: 50%;
            }
        }
    }
    #row2 {
        text-align: center;
        padding-top: 1rem;

        display:flex;
        align-items:center;
        justify-content:center;
        .inputFileWrap {
            display:none;
            display: inline-block;
            overflow: hidden;
            position: relative;
            @extend .btn_1;
            color:#ffffff;
            input[type="file"] {
                opacity: 0;
                filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                font-size: 100px;
                cursor: pointer;
            }
        }
        #submit_btn {
            margin-left:.5rem;
            @extend .submit_btn_1;
        }
    }
}