@charset "UTF-8";
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0; }

/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px; }

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit; }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic; }

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000; }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block; }

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none; }

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block; }

/**
   * Add the correct display in IE.
   */
template {
  display: none; }

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  letter-spacing: .03rem; }

html,
body {
  height: 100%;
  width: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select,
div#editableBody {
  width: 100%;
  padding: .4rem;
  border: solid 1px #ccc;
  border-radius: .2rem;
  -webkit-box-shadow: inset 0 0.05rem 0.1rem rgba(100, 100, 100, 0.2);
  box-shadow: inset 0 0.05rem 0.1rem rgba(100, 100, 100, 0.2);
  background: white; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  textarea:focus,
  select:focus,
  div#editableBody:focus {
    border: solid 1px #EEA34A; }

#page_wrap {
  width: 100%;
  text-align: left;
  word-break: break-all;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative; }

.header_height_margin {
  margin-top: 9vh; }

.lineHeight, #form #row1 #editableBody {
  line-height: 1.9rem; }

@media only screen and (min-width: 1025px) {
  .btnFeature, .submit_btn_1, #form #row2 #submit_btn, .btn_1, #form #row2 .inputFileWrap, .delete_btn_1 {
    padding: .5rem 1.3rem; } }

@media only screen and (max-width: 1024px) {
  .btnFeature, .submit_btn_1, #form #row2 #submit_btn, .btn_1, #form #row2 .inputFileWrap, .delete_btn_1 {
    padding: .8rem 1.3rem;
    font-size: 1.3rem; } }

.submit_btn_1, #form #row2 #submit_btn {
  background-color: #0093FF;
  color: #ffffff;
  border-radius: 5rem;
  border: 0px;
  cursor: pointer; }

.btn_1, #form #row2 .inputFileWrap {
  border: 0px;
  background: #a0a0a0;
  border-radius: 5rem;
  cursor: pointer; }

.delete_btn_1 {
  background-color: #FF0000;
  border: 0px;
  color: #ffffff;
  border-radius: 5rem;
  cursor: pointer; }

.no_scrollbar, html.miseapp #page_wrap, html.miseapp #page_wrap #header_wrap #header_nav_wrap, html.miseapp #page_wrap #footer_nav_wrap {
  -ms-overflow-style: none; }
  .no_scrollbar::-webkit-scrollbar, html.miseapp #page_wrap::-webkit-scrollbar, html.miseapp #page_wrap #header_wrap #header_nav_wrap::-webkit-scrollbar, html.miseapp #page_wrap #footer_nav_wrap::-webkit-scrollbar {
    display: none; }

.image_upload_btn {
  background-color: #ffffff;
  border-radius: 5px; }

.hover_dark, .submit_btn_1, #form #row2 #submit_btn, .btn_1, #form #row2 .inputFileWrap, .delete_btn_1 {
  position: relative; }
  .hover_dark::before, .submit_btn_1::before, #form #row2 #submit_btn::before, .btn_1::before, #form #row2 .inputFileWrap::before, .delete_btn_1::before {
    border-radius: 5rem;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ''; }
  .hover_dark:hover::before, .submit_btn_1:hover::before, #form #row2 #submit_btn:hover::before, .btn_1:hover::before, #form #row2 .inputFileWrap:hover::before, .delete_btn_1:hover::before {
    border-radius: 5rem; }
    @media only screen and (max-width: 1024px) {
      .hover_dark:hover::before, .submit_btn_1:hover::before, #form #row2 #submit_btn:hover::before, .btn_1:hover::before, #form #row2 .inputFileWrap:hover::before, .delete_btn_1:hover::before {
        background-color: rgba(0, 0, 0, 0.1); } }

.error_message {
  color: red; }

.side_border_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  /* for no-flexbox browsers */ }
  .side_border_1:before, .side_border_1:after {
    border-top: 1px solid;
    content: "";
    display: inline;
    /* for IE */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .side_border_1:before {
    margin-right: 0.5em; }
  .side_border_1:after {
    margin-left: 0.5em; }

#modal {
  max-width: 80%;
  padding: 3% 5%;
  display: none;
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: #ffffff !important;
  color: #666666;
  position: fixed;
  z-index: 11; }
  #modal #error_modal_title {
    color: #FF0000;
    text-align: center;
    margin-bottom: 5%; }
  #modal #modal_button_wrap {
    margin-top: 8%;
    text-align: center; }

#modal_bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }

.scrollbar_1 ::-webkit-scrollbar {
  width: 10px; }

.scrollbar_1 ::-webkit-scrollbar-track {
  border-radius: 10px; }

.scrollbar_1 ::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px; }

.loading_wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto; }
  .loading_wrap .sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative; }
  .loading_wrap .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .loading_wrap .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; }
  .loading_wrap .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
  .loading_wrap .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
  .loading_wrap .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .loading_wrap .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
  .loading_wrap .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
  .loading_wrap .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .loading_wrap .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
  .loading_wrap .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
  .loading_wrap .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
  .loading_wrap .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
  .loading_wrap .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
  .loading_wrap .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .loading_wrap .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  .loading_wrap .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .loading_wrap .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
  .loading_wrap .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
  .loading_wrap .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
  .loading_wrap .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
  .loading_wrap .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
  .loading_wrap .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
  .loading_wrap .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
  .loading_wrap .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

@media only screen and (min-width: 1025px) {
  html.miseapp {
    font-size: 1.3em;
    overflow-y: scroll; } }

@media only screen and (max-width: 1024px) {
  html.miseapp.user #page_wrap {
    padding-top: 7.7vh; } }

@media only screen and (min-width: 1025px) {
  html.miseapp.user #page_wrap #footer_nav_wrap {
    display: none; } }

@media only screen and (max-width: 1024px) {
  html.miseapp.client #page_wrap {
    padding-bottom: 7.7vh; } }

@media only screen and (min-width: 1025px) {
  html.miseapp.client #page_wrap {
    padding-bottom: 7.7vh; } }

html.miseapp.client #page_wrap #footer_nav_wrap {
  background: #000000; }
  html.miseapp.client #page_wrap #footer_nav_wrap a {
    color: #ffffff; }

html.miseapp #page_wrap {
  text-align: left;
  word-break: break-all;
  min-height: 100%; }
  @media only screen and (max-width: 1024px) {
    html.miseapp #page_wrap {
      padding-bottom: 7.7vh; } }
  html.miseapp #page_wrap #header_wrap {
    width: 100%;
    overflow-y: hidden;
    z-index: 20;
    text-align: center; }
    @media only screen and (min-width: 1025px) {
      html.miseapp #page_wrap #header_wrap {
        position: relative;
        height: 4rem; } }
    @media only screen and (max-width: 1024px) {
      html.miseapp #page_wrap #header_wrap {
        position: fixed;
        top: 0;
        left: 0;
        height: 3.2rem;
        height: 7.7vh; } }
    html.miseapp #page_wrap #header_wrap a {
      display: block; }
      @media only screen and (min-width: 1025px) {
        html.miseapp #page_wrap #header_wrap a {
          height: 60%; } }
      @media only screen and (max-width: 1024px) {
        html.miseapp #page_wrap #header_wrap a {
          max-width: 100%;
          height: 100%; } }
      html.miseapp #page_wrap #header_wrap a #shopLogo {
        height: 100%; }
    html.miseapp #page_wrap #header_wrap #hamburger_wrap {
      margin: 0 0 0 auto;
      width: 13%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 30;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      html.miseapp #page_wrap #header_wrap #hamburger_wrap svg.menu_btn {
        width: 60%; }
      @media only screen and (min-width: 1025px) {
        html.miseapp #page_wrap #header_wrap #hamburger_wrap {
          display: none; } }
    html.miseapp #page_wrap #header_wrap #header_nav_wrap {
      width: 80%;
      height: 40%;
      margin: 0 auto;
      overflow-y: hidden;
      z-index: 2;
      white-space: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media only screen and (min-width: 1025px) {
        html.miseapp #page_wrap #header_wrap #header_nav_wrap {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
      @media only screen and (max-width: 1024px) {
        html.miseapp #page_wrap #header_wrap #header_nav_wrap {
          display: none; } }
      html.miseapp #page_wrap #header_wrap #header_nav_wrap::before, html.miseapp #page_wrap #header_wrap #header_nav_wrap::after {
        content: ''; }
      html.miseapp #page_wrap #header_wrap #header_nav_wrap div {
        height: 100%;
        text-align: center;
        border-radius: .2rem; }
        @media only screen and (max-width: 1024px) {
          html.miseapp #page_wrap #header_wrap #header_nav_wrap div {
            min-width: 20%; } }
        @media only screen and (min-width: 1025px) {
          html.miseapp #page_wrap #header_wrap #header_nav_wrap div {
            width: 10%; } }
        html.miseapp #page_wrap #header_wrap #header_nav_wrap div a {
          padding-top: .1rem;
          height: 100%;
          text-decoration: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          @media only screen and (max-width: 1024px) {
            html.miseapp #page_wrap #header_wrap #header_nav_wrap div a {
              font-size: .7rem; } }
          @media only screen and (min-width: 1025px) {
            html.miseapp #page_wrap #header_wrap #header_nav_wrap div a {
              font-size: .85rem; } }
          html.miseapp #page_wrap #header_wrap #header_nav_wrap div a:hover, html.miseapp #page_wrap #header_wrap #header_nav_wrap div a:active {
            -webkit-tap-highlight-color: transparent; }
          html.miseapp #page_wrap #header_wrap #header_nav_wrap div a svg.menu_icon {
            display: none; }
    html.miseapp #page_wrap #header_wrap #moveto_back_wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 9%;
      height: 100%; }
      html.miseapp #page_wrap #header_wrap #moveto_back_wrap #back_button {
        width: 100%;
        height: 40%; }
  html.miseapp #page_wrap #drawer_menu {
    width: 60%;
    height: 100%;
    visibility: hidden;
    overflow: auto;
    position: fixed;
    top: 7.7vh;
    right: 0%;
    z-index: 10;
    -webkit-box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.171);
    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.171);
    padding-top: .7rem; }
    @media only screen and (min-width: 1025px) {
      html.miseapp #page_wrap #drawer_menu {
        display: none; } }
    html.miseapp #page_wrap #drawer_menu div {
      text-align: left; }
      html.miseapp #page_wrap #drawer_menu div a {
        padding: .7rem 1rem;
        display: block;
        font-size: 1.3em;
        height: 100%;
        text-decoration: none; }
        html.miseapp #page_wrap #drawer_menu div a:hover, html.miseapp #page_wrap #drawer_menu div a:active {
          -webkit-tap-highlight-color: transparent; }
        html.miseapp #page_wrap #drawer_menu div a svg.menu_icon {
          display: none;
          max-width: 10%;
          height: 80%; }
    html.miseapp #page_wrap #drawer_menu div:last-child {
      margin-bottom: 3%; }
  html.miseapp #page_wrap #footer_nav_wrap {
    margin-top: -1px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: hidden;
    z-index: 2;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 7.7vh; }
    html.miseapp #page_wrap #footer_nav_wrap div {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 100%;
      text-align: center; }
      @media only screen and (max-width: 1024px) {
        html.miseapp #page_wrap #footer_nav_wrap div {
          min-width: 20%; } }
      @media only screen and (min-width: 1025px) {
        html.miseapp #page_wrap #footer_nav_wrap div {
          width: 10%; } }
      html.miseapp #page_wrap #footer_nav_wrap div a {
        padding-top: .1rem;
        display: block;
        height: 100%;
        text-decoration: none; }
        @media only screen and (max-width: 1024px) {
          html.miseapp #page_wrap #footer_nav_wrap div a {
            font-size: .75rem; } }
        @media only screen and (min-width: 1025px) {
          html.miseapp #page_wrap #footer_nav_wrap div a {
            font-size: 1.3rem; } }
        html.miseapp #page_wrap #footer_nav_wrap div a:hover, html.miseapp #page_wrap #footer_nav_wrap div a:active {
          -webkit-tap-highlight-color: transparent; }
        html.miseapp #page_wrap #footer_nav_wrap div a svg.menu_icon {
          padding-top: .3em;
          max-width: 50%;
          height: 55%; }

html.miseapp hr.divide {
  width: 90%;
  margin: 0 auto;
  border-color: #929292 !important; }

html.miseapp .standard_width {
  width: 95%; }

html.miseapp .box_1 {
  padding: 1rem;
  border-radius: .2rem; }

html.miseapp .page_title_wrap {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 5%; }

html.miseapp .transparent_degree_1 {
  background-color: rgba(255, 255, 255, 0.1); }

@media only screen and (max-width: 1024px) {
  html.miseapp .topMargin {
    margin-top: .6rem; } }

@media only screen and (min-width: 1025px) {
  html.miseapp .topMargin {
    margin-top: 1rem; } }

html.miseapp .bottomMargin {
  margin-bottom: 1rem; }

html.miseapp .shadow_1 {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); }

@media only screen and (max-width: 1024px) {
  html.miseapp .device_width, html.miseapp hr.divide, html.miseapp #comment, html.miseapp #toManageWrap, html.miseapp #form {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media only screen and (min-width: 1025px) {
  html.miseapp .device_width, html.miseapp hr.divide, html.miseapp #comment, html.miseapp #toManageWrap, html.miseapp #form {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (max-width: 1024px) {
  html.miseapp .device_padding {
    padding-left: 1rem;
    padding-right: 1rem; } }

@media only screen and (min-width: 1025px) {
  html.miseapp .device_padding {
    padding-left: 24rem;
    padding-right: 24rem; } }

html.miseapp .ticketBox {
  display: inline-block;
  position: relative;
  background: #8dc63f;
  color: rgba(255, 255, 255, 0.6); }
  html.miseapp .ticketBox:hover {
    background: #b30;
    color: white; }
  html.miseapp .ticketBox:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: -webkit-radial-gradient(0.6em 0.6em, circle, white 0.55em, rgba(255, 255, 255, 0) 0.6em) -0.6em -0.6em;
    background: -o-radial-gradient(0.6em 0.6em, circle, white 0.55em, rgba(255, 255, 255, 0) 0.6em) -0.6em -0.6em;
    background: radial-gradient(0.6em 0.6em, circle, white 0.55em, rgba(255, 255, 255, 0) 0.6em) -0.6em -0.6em; }
  html.miseapp .ticketBox:after {
    content: '';
    position: absolute;
    top: .25em;
    right: .25em;
    bottom: .25em;
    left: .25em;
    border: 1px rgba(0, 0, 0, 0.3) dashed;
    outline: 1px rgba(255, 255, 255, 0.5) dashed; }

#comment {
  width: 300px;
  height: 100px;
  display: block; }

#form {
  margin-top: 1rem; }
  #form #row1 input#title {
    width: 100%;
    margin: 3% 0 3% 0; }
  #form #row1 #editableBody {
    padding: 1rem;
    width: 100%;
    height: 20rem;
    overflow-y: scroll;
    background-color: #ffffff; }
    #form #row1 #editableBody img {
      max-width: 50%;
      max-height: 50%; }
  #form #row2 {
    text-align: center;
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #form #row2 .inputFileWrap {
      display: none;
      display: inline-block;
      overflow: hidden;
      position: relative;
      color: #ffffff; }
      #form #row2 .inputFileWrap input[type="file"] {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        font-size: 100px;
        cursor: pointer; }
    #form #row2 #submit_btn {
      margin-left: .5rem; }
